@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 15rem 0rem 15rem;
    background-color: #F3F8FC;   
    border-radius: 20px;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    width: calc(100vw - 31rem);
    background-color: #fff;
    display: flex;
    height: 4rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
}

.overlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header div:nth-child(1) {
    margin-left: 3rem;
    border-radius: 10px 10px 10px 0;
    display: block;
    border: 2px solid black;
}

.closebtn {
    display: none;
}

button {
    display: none;
}

.logo {
    margin-left: 3rem;
    font-family: 'Roboto', sans-serif;
}

.nav_list {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;

}

.nav_list li a {
    margin: 10px;
    padding: 3px;
    color: #CA8179;
}

.nav_list li a:hover {
    border-bottom: 2px solid #d6d6d670;
}

#home {
    background: url(imagens/casa.png) no-repeat right 2rem bottom 2rem;
    margin-top: calc(100px + 4rem);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 3.5rem;
    background-color: white;
    height: 75vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
}

#home h1 span {
    text-shadow: 1px 1px 10px black;
    color: #CA8179;
    font-size: 4rem;
    border-radius: 10px 10px 10px 0;
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
} 

#home span:hover {
    transition: ease-in-out .5s;
    border-radius: 10px 10px 10px 0;
    border: 2px solid black;
    cursor: pointer;
}

#home > div {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#home div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
}

#home button {
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    width: 10rem;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
}

#home button:hover {
    background-color: rgba(0, 0, 0, 0.815);
}

#home button a {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Aboreto', cursive;
}

img[src="assets/imagens/perfil.png"] {
    width: 300px;
    height: 400px;
    border-radius: 150px 150px 150px 50px;
    border: 10px solid black;
    padding: 3px;
}

.links_media a {
    padding: 5px;
}

#sobre {
    background: url(imagens/do-utilizador.png) no-repeat right 2rem bottom 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    height: 75vh;
}

#sobre h1 {
    text-align: center;
    padding: 50px;
}

.about_perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} 

.about_perfil div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_perfil div p {
    width: 30vw;
}

img[src="assets/imagens/perfil2.png"] {
    border-radius: 100px 10px 10px 10px;
    width: 400px;
    height: 400px;
    border: 10px solid black;
    padding: 3px;
}

h1 span {
    color: #CA8179;
    font-size: 3rem;
    border-bottom: 5px solid #CA8179;
}

#skills {
    background: url(imagens/lista.png) no-repeat right 2rem bottom 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    height: 75vh;
}

#skills h1 {
    text-align: center;
    padding: 50px;
}

.skills-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skills-progress > div{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.percent p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress {
    background-color: rgb(238, 226, 226);
    height: .5rem;
    border-radius: 10px;
}

.html {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 80%;
}

.css {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 75%;
}

.js {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 60%;
}

.vue {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 60%;
}
.entend {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 90%;
}
.escrita {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 85%;
}
.pronun {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 90%;
}
.comuni {
    height: 100%;
    border-radius: 10%;
    background-color: #CA8179;
    width: 70%;
}

#works {
    background: url(imagens/globo.png) no-repeat right 2rem bottom 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    margin-top: 100px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    height: 75vh;
}

#works h1 {
    text-align: center;
    padding: 50px;
}

footer {
    background-color: #CA8179 ;
    height: 25vh;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

footer div p:nth-child(1) {
    margin: 20px;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px 10px 0;
}

footer div p span {
    font-size: 3rem;
    border-radius: 10px 10px 10px 0;
    margin-left: 3rem;
}


footer a {
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width:1024px) {
    body {
        margin: 0;
        border-radius: 0;
    }

    .nav-button {
        display: block;
        border: 0;
        margin: 8px;
        cursor: pointer;
    }
    
    .nav-button img {
        background-color: white;
        display: flex;
    }

    .overlay {
        display: block;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.767);
        z-index: 9;
        position: fixed;
        right: -8rem;
        top: 0;
        overflow-x: hidden;
        transition: all .5s;
        border: 1px solid black;
    }

    .closebtn {
        padding: 10px;
        display: block;
    }

    .closebtn img {
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 20px;
    }
    
    .navbar {
        color: black;
        font-size: 2rem;
        font-variant: small-caps;
        margin-top: 3rem;
    }
    
    .nav_list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    header {
        position: fixed;
        top: 0;
        margin: 0;
        width: 100vw;
        background-color: #fff;
        display: flex;
        height: 4rem;
        align-items: center;
    }

    header div:nth-child(1){
        margin-left: 1rem;
    }

    #home {
        margin-top: 5rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        gap: 40px;
        font-family: 'Roboto', sans-serif;
        height: 85vh;
    }

    #home > div {
        margin-top: 0px;
    }

    #home h1 span {
        text-shadow: none;
        font-family: 'Roboto';
        font-variant: normal;
        font-size: 2.5rem;
    }

    header div {
        margin-left: 0;
    }

    img[src="assets/imagens/perfil.png"] {
        width: 200px;
        height: 266.6px;
        border-radius: 150px 150px 150px 50px;
    }

    #sobre {
        border-radius: 0;
        height: 95vh;
    }
    
    .about_perfil {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    } 
    
    .about_perfil div p {
        width: 90vw;
    }
    
    img[src="assets/imagens/perfil2.png"] {
        border-radius: 100px 10px 10px 10px;
        width: 300px;
        height: 300px;
        border: 10px solid black;
        padding: 3px;
    }

    h1 span {
        color: #CA8179;
        font-size: 2rem;
        font-variant: small-caps;
        border-bottom: 5px solid #CA8179;
    }

    #skills {
        margin-top: 100px;
        border-radius: 0;
        height: 100vh;
    }
    
    #skills h1 {
        text-align: center;
        padding: 50px;
    }

    .skills-progress {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .skills-progress > div{
        width: 90vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #works {
        margin-top: 100px;
        border-radius: 0;
        background-color: white;
        height: 100vh;
    }
    
    #works h1 {
        text-align: center;
        padding: 50px;
    }

}